$white-color: #ffffff;
$grey-color: #4a4a4a;
$black-color: #000000;
$red-color: #ff7755;
$orange-color: #ffaa00;
$green-color: #55bb33;
$blue-color: #22bbff;
$grey-blue-color: #7AA4D4;

$light-grey-color: #666666;
$lighter-grey-color: #9b9b9b;
$lightest-grey-color: #cccccc;

$grey-bg-color: #f6f6f6;
$green-bg-color: #f5fdf3;
$blue-bg-color: #f5f9ff;
$orange-bg-color: #fffcf7;
$red-bg-color: #ffeee6;

$text-color: $black-color;
$link-color: #4499ee;

$line-color: #dfdfdf;
$light-line-color: #efefef;
$lighter-line-color: #f3f3f3;

$border-color: $line-color;
$light-border-color: $light-line-color;
$lighter-border-color: $lighter-line-color;
